@model IEnumerable<DatabaseAccessLayer.Entities.Property>

@{
    ViewBag.Title = "Index";

}

@Html.Partial("~/Views/Shared/_SearchPage.cshtml", new EmlakTakipUI.Models.PropertySearchModel())
<div class="container body-content">
    <table class="table table-responsive table-striped">
        <tr>
            <th>
                @Html.Label("Resim")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PropertyType.Ad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SquareMeter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoomCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LivingRoomCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Floor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfFloors)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WarmingType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.State)
            </th>
            <th>
                @Html.DisplayNameFor(model=>model.Adress)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img style="height:100px;width:100px" src="~/Upload/@item.ImageName" alt="@item.ImageName"/>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PropertyType.Ad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SquareMeter)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RoomCount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LivingRoomCount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Floor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberOfFloors)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WarmingType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.State)
                </td>
                <td>
                    @Html.DisplayFor(modelItem=>item.Adress)
                </td>
                <td>


                    @if (item.Username.Equals(User.Identity.Name))
                    {
                        @Html.ActionLink("Düzenle", "Edit", new { id = item.Id }, new { @class = "btn btn-warning" })
                    }
                    else
                    {
                        @Html.ActionLink("Detaylar", "PropertyDetails", new { id = item.Id }, new { @class = "btn btn-primary" })
                    }

                </td>
            </tr>
        }

    </table>
</div>